[submodule "assignment2-tester"]
	path = assignment2-tester
	url = https://github.com/nota-dr/Assignment2-Tester.git
	branch = master
[submodule "tests_lib"]
	path = tests_lib
	url = https://github.com/nota-dr/Tests-Lib.git
